<button (click)="characterService.getPrevCharacters()">Load previous</button>

<button (click)="characterService.getNextCharacters()">Load next</button>

<div class="table">
  <div class="column" *ngFor="let column of tableService.getPeriodObservable() | async">
    {{prepareColumnHeader(column)}}
    <div *ngFor="let character of column.characters">
      <app-character [character]="character"></app-character>
    </div>
  </div>
</div>

<router-outlet></router-outlet>